* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color:#B7D5D4
}

.container {}

.top_bar {
  background-color: #305252;
  width: 1000vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 50;
}

.flex {
  display: flex;

}

#img {
  border-radius: 60px;
}



.slider {
  position: absolute;
  top: 30%;
  left: 00%;
  display: flex;
  gap: 2vw;
  /* opacity: 0; */
}

.photo {
  width: 20vw;
  height: 30vw;
  border-radius: 7px;
  z-index: 10;
}

.footer {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #B7D5D4, #fff);
}


a {
  text-decoration: none;
}

