* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:#B7D5D4
}

.video{
  width: 10vw;
  height: 10vh;
}

.image{
  width: 10vw;
  height: 10vh;
}

.slider {
  position: absolute;
  top: 30%;
  left: 00%;
  display: flex;
  gap: 2vw;
  /* opacity: 0; */
}

.footer {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #B7D5D4, #fff);
}


a {
  text-decoration: none;
}

