* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color:#B7D5D4
}

.container {}

.top_bar {
  background-color: #305252;
  width: 10000vw;
  height: 1000%;
  display: flex;
  justify-content: space-between;
  z-index: 50;
}

.flex {
  display: flex;

}

.video{
  width: 10vw;
  height: 10vh;
}

.slider {
  position: absolute;
  top: 30%;
  left: 00%;
  display: flex;
  gap: 2vw;
  /* opacity: 0; */
}

.footer {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #B7D5D4, #fff);
}


a {
  text-decoration: none;
}

